---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
$base-color: #264c66;

.bg-devocative {
	background-color: $base-color !important;
}

a {
	color: #00004f;
}

a:visited {
	color: #00004f;
}

code {
	color: #00003f;
}

.highlight {
	table {
		border: 0;
		margin: 0;

		th, td {
			padding: 0;
			border: 0;
		}
	}

	pre, code {
		border: 0;
		margin: 0;
		font-size: 14px;
	}
}

pre {
	padding: 0 4px;
}

td.gl {
	width: 35px;
}

pre.lineno {
	background-color: #ddd;
	color: #555;
	width: 25px;
	text-align: center;
}

#toc {
	position: fixed;
	left: 5px;
	top: 70px;
	border-radius: 30px;
	box-shadow: 2px 2px 3px #999;
	background-color: $base-color;
	padding: 5px;
}

#toc_lbl {
	width:40px;
	height:40px;
	text-align:center;
	color: #ffffff;
	padding: 8px;
}

#toc_body {
	display: none;
	background-color: #dddddd;
	text-align: left;
	border-radius: 10px;
	font-size: smaller;
}

#toc_lbl:hover + #toc_body, #toc_body:hover {
	display: block;
}
